<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Swedish Massage</h4>
                    <p><%= link_to "
                      Duration: 1 hour / 1 hour 30 min. / 2 hour
                      Massage involves working and acting on the body with
                      pressure – structured, unstructured, stationary, or
                      moving – tension, motion, or vibration, done manually or
                      with mechanical aids. Massage can be applied with the
                      hands,fingers, elbows, knees, forearm, feet, or a massage
                      device.  At clients request, massage can be altered lying
                      on a massage table, sitting in a massage chair, or lying
                      on a mat on the floor", new_appointment %>
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Deep Tissue Massage</h4>
                    <p><%= link_to "
                      Duration: 1 hour / 1 hour 30 min. / 2 hour
                      Myofascial release refers to the manual massage technique
                      for stretching the fascia and releasing bonds between fascia,
                      integument, and muscles with the goal of eliminating pain,
                      increasing range of motion and equilibrioception. Myofascial
                      release usually involves applying shear compression or tension
                      in various directions, or by skin rolling.", new_appointment %>
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Sport Massage</h4>
                    <p><%= "
                      Duration: 1 hour / 1 hour 30 min. / 2 hour
                      Also known as manual therapy, manipulative therapy, or manual
                     & manipulative therapy, this is a physical treatment primarily
                      used on the neuromusculoskeletal system to treat pain and
                      disability. It most commonly includes kneading and
                      manipulation of muscles, joint mobilization and joint
                      manipulation.", new_appointment %>
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Accupressure</h4>
                    <p><%= "
                    Duration: 1 hour / 1 hour 30 min.
                    An alternative medicine technique similar
                    in principle to acupuncture. It is based on the concept
                    of life energy which flows through "meridians" in the body.
                    In treatment, physical pressure is applied to acupuncture
                    points with the aim of clearing blockages in these meridians.
                    Pressure may be applied by hand, by elbow, or with various
                    devices.Some medical studies have suggested that acupressure
                    may be effective at helping manage nausea and vomiting, for
                    helping lower back pain, tension headaches, stomach ache.                    </p>
                    <p class="text-center">", new_appointment %>
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
