<br>
<br>
<br>


<h1>MASSAGE THERAPY POLICIES / AGREEMENT</h1>
<p>Knead Love</p>
<p>2ndminnion@gmail.com</p>
<div>
  <ul>
    It is our intention to provide professional and therapeutic massage to help you reach your health and wellness goals. We do
understand that unanticipated time_slots occur in everyone’s life. In consideration of your time and our massage therapist, we
have adopted the following policies for first-time and regular massage clients of the Knead Love:
ARRIVAL POLICY
<li>
Please arrive 5-10 minutes before your scheduled time (15 minutes prior for first-time clients). This provides time
to determine the best session plan for you at each visit, while allowing for an unhurried experience.
LATE ARRIVAL POLICY
</li>
<li>If you are late, you will have the time remaining in your scheduled appointment for your massage, extension may
not be possible. You will be charged the full price of your scheduled session.
</li>
<li>If you are going to be more than 15 minutes late, please call.  CANCELLATION POLICY.  We appreciate 24 hours notice for any changes to your scheduled appointment. A 50% charge** will be applied for
cancellations without 24 hours notice. If you need to cancel/reschedule, please call, Jason at 415-not-realNum
</li>
<li>Clients who fail to show for a scheduled appointment will be charged 50% of the cost** of the scheduled session. If
a client fails to provide adequate notice multiple times (2 or more), he/she may be asked to pre-pay for future
services. It is important that our massage therapist(s) be compensated for reserved time slots.
</li>
** Fees not applicable to first time massage clients
OTHER MASSAGE POLICIES
<li> There are no age restrictions; however, clients under 18 must have a guardian present</li>
<li> Please feel free to make use of our showers, sauna and/or steam room prior to your session.</li>
<li> Tipping is appreciated, but not expected or required. Tips are given directly to the therapist rather than processed
by the front desk.</li>
<h2>INFORMED CONSENT</h2>
<li>The Treatment plan will be discussed with you prior to your scheduled session. During your first visit with us you
will receive a copy of the massage therapy policies and will be asked to sign the consent statement that you have
read, understand and agree to comply with the professional massage therapy policies and procedures.
</li>
<li>Clients who we have not seen for at least a year also will be asked to fill out this form again.</li>
<h2>SCOPE OF PRACTICE</h2>
<li> Knead Love, licensed professionals and held to the highest standards of the
American Massage Therapy Association / Associated Bodywork and Massage Professionals.</li>
<li>Massage Therapy is a profession in which the practitioner applies manual techniques, and may apply adjunctive
therapies, with the intention of positively affecting the health and well-being of the client.
<li>Massage Therapists do not diagnose or prescribe for medical conditions nor are they allowed to provide treatment
for a specific condition without a doctor's supervision. The massage therapist is required to refer you for diagnosis
and to follow recommendations of your physician.
</li>
CONTINUED ON NEXT PAGE

Knead Love
RESPECT FOR CLIENT NEEDS AND BOUNDARIES
<li>Knead Love massage therapists are happy to adjust pressure, temperature, music volume, work longer on
an area or move on if you request it.</li>
<li>The client may choose to: leave on as much clothing as needed for comfort, refuse any massage methods, stop
massage at any time and is free to leave; the therapy door is never locked.</li>
<li>The client will always be draped. Only the area(s) being worked on will be undraped. The clients will be kept
informed of the area to be massaged.</li>
<h2>PROFESSIONAL BOUNDARIES</h2>
<li>Low back, hip and gluteal area can be worked through the draping, rather than undraped, if requested. Any area
can be avoided, if requested.</li>
<li>Sexual interaction or discussion of any kind between the client and the massage therapist is NEVER appropriate.
Requests for sexual activity will not be tolerated, will be viewed as solicitation and reported to the proper
authorities under the guidelines of the massage therapy policies and procedures. The client will not be rescheduled
if this occurs.</li>
<li>On rare occasions an involuntary sensual response to massage is natural and will subside on its own.</li>
<h2>CONFIDENTIALITY AND CONVERSATION</h2>
<li>We treat all client visits and conditions as confidential. The client may or may not choose to talk during the
massage.</li>
<h2>EXISTING AND NEW MEDICAL CONDITIONS</h2>
<li>It is the responsibility of the client to keep the massage therapist informed of any medical treatment currently
being taken, and to provide written permission from the physician, chiropractor, physical therapist, etc., that
massage therapy sessions may be continued.</li>
<li>The client must also keep the massage therapist informed of any changes in health conditions.
The terms and conditions of this agreement are binding. I, _______________________________, hereby acknowledge
that I have read, understand, and agree to the terms and conditions listed above.
Client Signature __________________________________________________ Date ___________________
Massage Therapist Signature ________________________________________ Date ___________________
Revised 01/16
