<!-- footer -->
<div class="container">
  <div class="row">
    <hr class="featurette-divider">
    <div class="footer navbar-fixed-bottom">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Kneading Harmony, Inc. </p>
      </footer>
    </div>
  </div>
</div>
