<!-- <footer class="navbar navbar-fixed-bottom">
    <div class="wrapper container-fluid">
        <header>
            Kneading Harmony
        </header>
        <div class='text-center'>
            <b><%= link_to "Jason Bio", about_path %></b>
            <b><%= link_to "Products", services_path %></b>
            <b><%= link_to "Harmony Policy", policy_path %></b>
            <b><%= link_to "Services Rendered", services_path %></b>
        </div>
    </div>
</footer> -->
