<br>
<br>

<div class="panel-group" id="accordion">
    <div class="faqHeader">Frequently Asked Question</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Vision</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                I am running a private practice to maintain flexability to provide quality healing sessions. I focus on meeting your relaxation desires while looking out for your body's needs. Tour De Force Productions also introduces massage into timeslots: music
                festivals, private parties, and venues. Longterm I plan to open a large-scale healing center where an intergrated approach to health and well being is offered: massage, energy work, meditation, excercise, goal setting, and life coaching. I am also
                working to develop a non-profit to bring basic touch to children in orphanages here in San Francisco and in third world countries.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Practices</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                I consider myself a Unitarian Universalist with an Eastern Philosophical emphasis and grounded in Quantum Physics. I was raised by Buddhist parents, have Mormon grandparents, and have explored many religions personally. I have taken academic World
                Religions classes, but learned more in traveling to other countries than in a classroom. I have worked in Mother Theresa's orphanage alongside the Sisters, meditated for a month in a Thai Monastery, shaken the Dalia Lama's hand, and taught country
                line dancing in a Mormon Hall. All of these experiences have been formative. Most recently, I have re-experienced my spirituality in studying massage. I often feel waves of energy pass through me and feel that it is a true expression of a universal
                energy available to us all. I choose not to assign a label to the source.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Education</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                Massage Therapy and Health Educator I graduated from this 720 hour program with a 3.8 This Program inclides all the modalities listed on my home page and more. The focus is on physiology, kinesthisiology, pathology, Eastern and Western approached to
                massage therapy and health. I am now a Teacher's Assistant at the San Francisco campus as well. University of Santa Cruz- Santa Cruz, CA Bachelors of Arts in Psychology I graduated wiuth Honors from UCSC with a BA and the Psychology Advanced Research
                program 2004. Specialized in Social Psychology and Persoanlity Development. Advanced statistics, field research, and Teacher's Assistant training.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Personal</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                I grew up in Forestville, CA North of San Francisco and went to college just South. Most of my life has been spent in the wonderful Bay Area with it's cultural diversity and natural beauty. However, I have traveled relatively extensively throughout
                Asia and the Americas. Travel has included: Nepal, India, Thailand, Mexico, Canada, Belize, Peru, and Thailand again! Most recently I have traveled to Europe visiting London, Amsterdam, Prague, Karlovy Vary, Munich, the Bavarian Alps, Barcelona,
                Cordoba, and Malaga. I visited world class European spas and Hamams while there! I also have been a fair amount of places in the US. This l has helped broaden my world view, exposed me to different religious and c
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">I had a great session with Jason, does he specialize in a style?</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                Account registration at PrepBootstrap is only required if you will be selling or buying themes. This ensures a valid communication channel for all parties involved in any transactions.
                <%= link_to "Jason Bio", about_path %>
            </div>
        </div>
    </div>
</div>
