/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets"
@import "bootstrap"


.navbar-fixed-top
  background-color: #7B8585
  border-bottom: 2px inset
  color: #EEBC20

.panel-collapse
  background-color: #ebaa76


.display-3
  color: #3a3a3a
  position: relative


.container-welcome
  position: absolute
  bottom: 8px
  right: 16px
  font-size: 18px
  // color: #C2D1D1

.firstButton
  float: right

.user-container
  padding-top: 20px

.timeslot
  padding-top: 20px

.faq
  background-color: #C2D1D1
  border-style: inset

.inner
  display: inline-block
  padding-right: 10px
  padding-top: 10px

.footer
  padding: 5px 5px
  margin-top: 5px

.glyphicon
  float: right
