/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets"
@import "bootstrap"

body
  background-color: #7B8585
  padding-top: 50px
  padding-bottom: 20px
  color: #EEBC20

.jumbotron
  height: 600px
  background-image: url(image-path("waterfall.jpg"))
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  z-index: -5

.navbar-fixed-top
  background-color: #7B8585
  border-bottom: 5px outset
  color: #EEBC20

.panel-collapse
  background-color: #ebaa76

.display-3
  color: #3a3a3a
  position: relative

.container
  background-color: #94B894
  border-style: outset


.container-welcome
  position: absolute
  bottom: 100px
  right: 150px
  font-size: 14px
  color: #EEBC20

.firstButton
  float: right

.user-container
  padding-top: 20px

.timeslot
  padding-top: 20px

.faq
  background-color: #C2D1D1

.inner
  display: inline-block
  padding-right: 10px
  padding-top: 10px

.glyphicon
  float: right

.footer
  text-align: center
  padding: 10px
  margin: 10px

  h1, h2, h3
    text-shadow: 2px
