
body {
  padding-top: 4em;
  padding-bottom: 2em;
  font-family: 'EB Garamond', serif;
  font-size: 1.3em;
  line-height: 1.6em;
}

p {
  font-family: Helvetica serif
}
h1,
h2,
h3,
h4,
h5,
ol,
td,
a,
.navbar-default {
    color: #EEBC20;
    font-weight: bold;
    font-family: 'Bree Serif', serif helvetica  arial;
}
#intro {
  font-family: 'EB Garamond', serif;
  color: #7FB7BE;
  position: relative;
  padding:.2em;
  text-align: center;
  left: 0;
  top: 70%;
  width: 80%;
  font-size: 2em;
}

pre {
    padding: 10px;
    font-size: 11px;
}

div {
    &.actions,
    &.field {
        margin-bottom: 10px;
    }
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

img {
    opacity: 50%;
    margin: 0;
}

img:hover {
    opacity: 100%;
};

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.container div {
    padding-top: .3em;
    padding-bottom: .3em;
}
