// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
}

.thumbnail:hover {
    background-color: #5CB85C;
}

.thumbnail img {
    width: 100%;
}
