// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url(image-path("waterfall.jpg"));
  background-size: cover;
  position: relative;
}

.btn-group {
  padding-top: 10px;
}
