<hr>
<div class="container">
  <div class="row">
    <h1>Create an Appointment</h1>
  </div>

<!-- ******* User Information Start ******** -->
    <div class="infos">
        <div class="col-xs-12 col-lg-5">

        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
