<br>

<h3 class="text-center">The Goods</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-6 text-right">
      <h1 class="cart-text"><%= render 'shared/cart_text' %></h1>
    </div>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>
