<div class="container">
  <div class="row">
    <h1>All available time slots!</h1>
    <hr>
  </div>
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      This section contains a wealth of information, related Kneading Harmony. If you cannot find an answer to your question,
      make sure to contact us.
  </div>
  <div class="row">
    <% @timeslot.each do |t|%>
      <div class="row timeslot">
        <div class="col-md-6">
          <p>Day of Week:<%= "#{t.week_day}" %></p>
          <p>Hour: <%= "#{t.hour}" %></p>
        </div>
      </div>
    <%end%>
  </div>
</div>
