<br>
<br>

<div class="container timeslot-container">
  <div class="row">
    <div class="col-md-6">
      <h3>
        <% @timeslot.each do |t|%>
          <h3><%=link_to "#{t.timeslot_id}", timeslot_path(t)%></h3>
          <%= t.timeslot.all %>
          <%end%>
      </h3>
    </div>
  </div>
</div>
